<section class="container">
  <section class="row center-xs md-margin">
    <section class="col-xs-12 col-md-6 whiteframe">
      <h2>
        Edit User
      </h2>

      <section class="row center-xs">
        <%= simple_form_for @user do |f| %>
          <section class="col-xs-12">
            <%= f.input :first_name, label: false, placeholder: "First name" %>
          </section>

          <section class="col-xs-12">
            <%= f.input :surname, label: false, placeholder: "Surname" %>
          </section>

          <section class="col-xs-12 md-top-margin">
            <%= f.input :avatar %>
          </section>

          <section class="col-xs-12 md-top-margin">
            <%= button_tag(type: 'submit', class: "btn btn-success md-top-margin") do %>
              <%= fa_icon "wrench", text: "Update your profile" %>
            <% end %>
          </section>
        <% end %>
      </section>
    </section>
  </section>
</section>
