<section class="user-wallpaper center-xs">
</section>

<section class="container">
  <section class="row between-md">

    <section class="col-xs-12 col-md-8 no-padding-md">
      <section class="col-xs-12 row whiteframe center-xs start-md">
        <%= render "header" %>
      </section>

      <section class="col-xs-12 row center-xs whiteframe md-top-margin">
        <%= render "images" %>
      </section>

      <section class="col-xs-12 row center-xs whiteframe md-top-margin">
        <%= render "events" %>
      </section>
    </section>

    <section class="col-xs-12 col-md md-left-margin-gt-lg no-padding-md">
      <section class="col-xs-12 row center-xs middle-xs no-padding">
        <%= render "activities" %>
      </section>

      <section class="col-xs-12 row center-xs whiteframe">
        <%= render "routes" %>
      </section>
    </section>
  </section>
</section>
