<section class="user-wallpaper center-xs">
</section>

<section class="container">
  <section class="row between-md">

    <section class="col-xs-12 col-md-8">
      <section class="col-xs-12 row whiteframe center-xs start-md">
        <%= render "header" %>
      </section>

      <section class="col-xs-12 row center-xs whiteframe md-top-margin">
        <%= render "images" %>
      </section>

      <section class="col-xs-12 row center-xs whiteframe md-top-margin">
        <%= render "events" %>
      </section>
    </section>

    <section class="col-xs-12 col-md md-left-margin-gt-lg">
      <section class="col-xs-12 row start-xs middle-xs no-padding">
        <%= render "activities" %>
      </section>

      <section class="col-xs-12 row center-xs whiteframe">
        <h2 class="col-xs-12">
          <%= t ".your_routes_title" %>
        </h2>

        <% @trip_routes.each do |trip_route| %>
          <section class="col-xs-12">
            <%= link_to trip_route.created_at.strftime("%d %B %Y"), trip_route %>
            <%= trip_route.transport %>
            <%= t "trip_route_#{trip_route.active}" %>
          </section>
        <% end %>
      </section>
    </section>
  </section>
</section>
