<%= simple_form_for trip_route do |f| %>
  <section class="col-xs-12">
    <%= t ".current_position_title" %>
  </section>

  <section class="col-xs-12">
    <%= f.input :address, label: false %>
  </section>

  <section class="col-xs-12">
    <%= f.input :transport, collection: [["Walk", 10], ["Bike", 20], ["Car", 40]] %>
  </section>

  <section class="col-xs-12">
    <%= f.button :submit, class: "btn btn-success md-margin" %>
  </section>
<% end %>
