<%= link_to image.image.url, class: "fancybox", rel: "activity-images" do %>
  <%= image_tag image.image(:square) %>
<% end %>

<span class="xs-side-pad">
  <%= image.user.first_name %>
  <%= image.user.surname %>
</span>

<span class="xs-side-pad">
  <%= image.created_at.strftime("%F") %>
</span>
