<h2 class="col-xs-12">
  <%= t ".question_title" %>
</h2>

<% @questions.each do |question| %>
  <section class="col-xs-12 col-md-6 md-top-margin">
    <%= question.body %>
  </section>

  <section class="col-xs-12 row center-xs">
    <% question.question_options.each do |question_option| %>
      <% if question_option.right_answer? %>
        <span class="btn btn-yellow col-xs-12 col-sm-8 col-md-6 question-option ro">
          <%= question_option.body %>
        </span>

      <% else %>
        <span class="btn btn-yellow col-xs-12 col-sm-8 col-md-6 question-option">
          <%= question_option.body %>
        </span>
      <% end %>
    <% end %>
  </section>
<% end %>

<span class="btn btn-success submit-quiz md-top-margin">
  <%= t ".show_answer_text" %>
</span>
