<section style="background-image:
  linear-gradient(
  rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3)
  ),
  url('<%= @activity.image %>');", class="activity-wallpaper row center-xs middle-xs">

  <section class="col-xs-12 col-md-8">
    <h2>
      <%= @activity.title %>
    </h2>

    <%= @activity.description %>
  </section>
</section>

<section class="container container-overflow">
  <section class="row between-md">

    <section class="col-xs-12 col-md-8 no-padding-md">
      <section class="col-xs-12 whiteframe row center-xs">

        <span class="col-xs-12 row star-xs">
          <%= link_to @back_url, class: "btn btn-success col-xs-3" do %>
            <%= fa_icon "arrow-left" %>
            <%= t ".back_btn" %>
          <% end %>
        </span>

        <span class="col-xs-12">
          <%= render "trivium" %>
        </span>
      </section>

      <section class="col-xs-12 whiteframe row center-xs md-top-margin">
        <%= render "quiz" %>
      </section>

      <section class="col-xs-12 whiteframe row center-xs md-top-margin">
        <%= render "album" %>
      </section>
    </section>

    <section class="col-xs-12 col-md md-left-margin-gt-lg no-padding-md">
      <section class="col-xs-12 whiteframe row center-xs">
        <%= render "feedback" %>
      </section>
    </section>
  </section>
</section>
